
canvas{
    margin: auto;
    margin-top: 2em;
}

ol {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}